<div class="master-header">
  <div class="left-content">
    <div class="home bright cursor-pointer">
      <span class="icon home-icon text-middle"></span>
    </div>
    <div class="board bright cursor-pointer">
      <span class="board-icon icon text-middle"></span><span class="icon-text text-content">Boards</span>
    </div>
  </div>
  <a class="trello board cursor-pointer">
    <span class="board-icon icon text-middle"></span>
    <span class="icon-text text-content">Trello</span>
  </a>
  <div class="right-content">
    <div class="create-board bright icon-container cursor-pointer" (click)="addNewList($event)">
      <span class="icon home-icon create-board-icon text-middle"></span>
    </div>
    <div class="icon-container user cursor-pointer">
      <span class="user-text">PD</span>
    </div>
  </div>
</div>
