<div class="menu">
  <div class="menu-items">
    <div class="menu-header">
      <div class="back icon-container text-middle">
        <span class="back-icon icon"></span>
      </div>
      <div class="menu-header-name">Menu</div>
      <div class="close icon-container text-middle" (click)="hideMenu()">
        <span class="icon-close icon"></span>
      </div>
    </div>

    <div class="board-users">
      <div class="icon-container user cursor-pointer">
        <span class="user-text">PD</span>
      </div>
      <div class="icon-container user cursor-pointer">
        <span class="user-text">PD</span>
      </div>
      <div class="icon-container user cursor-pointer">
        <span class="user-text">PD</span>
      </div>
    </div>

    <div class="other-list">
      <div class="list-item cursor-pointer">
        <a class="item-text"><span class="icon change-bg-icon"></span>Change Background</a>
      </div>
      <div class="list-item cursor-pointer">
        <a class="item-text"><span class="icon search-icon"></span>Filter Cards</a>
      </div>
      <div class="list-item cursor-pointer">
        <a class="item-text"><span class="icon sticker-icon"></span>Stickers</a>
      </div>
    </div>

  </div>

</div>
